# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atom-caniuse': 'atom-caniuse:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Caniuse'
      'command': 'caniuse:show'
    ]
  }
]
